

<form>
    <div class="mb-3">
      <label style="color: azure; font-family: 'Courier New', Courier, monospace; font-size: larger; font-weight: bolder;" for="exampleInputEmail1" class=" d-flex justify-content-center form-label">I can detect faces in any picture. Give me a try</label>
      <div class="d-flex justify-content-center">
            <div style="background-color: #1b2845;background-image: linear-gradient(315deg, #1b2845 0%, #274060 74%);; width: 1000px;" class="d-flex justify-content-center shadow p-3 m-3 bg-body border rounded">
                <input type="text" class=" form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                <button class="btn btn-outline-light btn-lg">Detect</button>
            </div>
        </div>
       </div>

